* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

:root {
  --background-body: #191d2b;
  --nav-icon: rgba(0, 0, 0, 0.658);
  --tittle: #27ae60;
  --white: #ffffff;
  --blue-cyan: rgb(0, 242, 255);
  --blue-cyan-cards: rgba(0, 242, 255, 0.396);
  --nav: #27ae5f74;
  --input: #ffffff;
  --card-projects: #27ae5fc6;
  --purple: linear-gradient(
    55deg,
    #eeb95ed4 0,
    #e3bf5c 5.56%,
    #d7c35c 11.11%,
    #cac75e 16.67%,
    #bccb62 22.22%,
    #aece69 27.78%,
    #9fd170 33.33%,
    #90d47a 38.89%,
    #7fd684 44.44%,
    #6cd890 50%,
    #56da9c 55.56%,
    #3adba9 61.11%,
    #00dcb7 66.67%,
    #00dcc4 72.22%,
    #00dcd2 77.78%,
    #00dcdf 83.33%,
    #00dcec 88.89%,
    #00dbf8 94.44%,
    #00daff 100%
  );
}

body.dark-theme {
  --background-body: #feffff;
  --nav-icon: rgba(0, 0, 0, 0.658);
  --tittle: rgb(76, 39, 225);
  --white: #0f0e0e;
  --blue-cyan: rgb(48, 197, 53);
  --nav: rgba(76, 39, 225, 0.549);
  --blue-cyan-cards: #9215e07b;
  --input: #08080821;
  --card-projects: #9215e0c0;
  --purple: linear-gradient(
    200deg,
    #e1a0e3 0,
    #cb8fdf 16.67%,
    #b07ddc 33.33%,
    #8f6cd8 50%,
    #645dd5 66.67%,
    #1452d2 83.33%,
    #004acf 100%
  );
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--background-body);
  font-family: 'Poppins', sans-serif;
  color: var(--white);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  color: var(--white);
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 300px;
  height: 60px;
  border-radius: 40px;
  bottom: 1.5rem;
  font-size: 25px;
  background-color: var(--nav);
  z-index: 10;
}
.nav-links:hover {
  background-image: var(--purple);
}

.nav-links i {
  color: var(--nav-icon);
}

.nav-links i:hover {
  color: var(--tittle);
  transform: scale(1.2);
}

.presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.description {
  width: 400px;
  margin-bottom: 30rem;
}

.description h1,
h2 {
  font-size: 25px;
}

.description h1 span,
h2 span {
  font-size: 35px;
  color: var(--tittle);
}

.description p {
  font-size: 15px;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.presentation img {
  position: absolute;
  margin-left: -9rem;
  bottom: 9rem;
  width: 300px;
  box-shadow: 5px 5px 10px 2px var(--tittle);
  border-radius: 50%;
}

.img-presentation img:hover {
  background-image: var(--purple);
}

.abilities-container h1 {
  font-size: 55px;
}
.abilities-container span1 {
  font-size: 45px;
  color: var(--tittle);
}
.abilities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.abilities div {
  width: 150px;
  height: 150px;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 3px var(--tittle);
  border-radius: 50%;
  animation: move 2s infinite;
  animation-delay: 1000ms;
  animation-name: cv;
}

@keyframes cv {
  0% {
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  90% {
    transform: scale(1);
  }
}
.abilities div:hover {
  transform: scale(1.3);
  background-color: var(--tittle);
  box-shadow: 0px 0px 10px 3px var(--white);
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .btn-cv {
    padding: 1rem 2rem;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .btn-cv {
    padding: 1.2rem 2.5rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  .btn-cv {
    padding: 1.5rem 3rem;
    font-size: 1.1rem;
  }
}

.container-aboutMe {
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.aboutMe h1 {
  font-size: 35px;
  line-height: 2.2rem;
  margin-top: -2rem;
}

.aboutMe h1 span1 {
  color: var(--tittle);
}

.aboutMe h1 span {
  opacity: 20%;
  font-size: 45px;
}

.aboutMe p {
  width: 400px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 20px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.box-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 180px;
  box-shadow: 1px 1px 10px 1px var(--tittle);
}

.box-review:hover {
  box-shadow: 1px 1px 10px 1px var(--blue-cyan);
  animation: move 2s infinite;
  animation-delay: 100ms;
  animation-name: abilities;
  background-image: var(--purple);
  color: var(--background-body);
}

@keyframes abilities {
  0% {
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.box-review h2 {
  color: var(--tittle);
  font-size: 50px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.525);
}

.technology {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.img-technology {
  width: 100px;
  object-fit: contain;
  animation: move 3s infinite;
  animation-delay: 1000ms;
  animation-name: technology;
}

@keyframes technology {
  0% {
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    transform: rotateY(45deg);
  }
}

.technology div span {
  display: flex;
  justify-content: center;
  z-index: 13;
}

.react:hover {
  transform: scale(1.2);
}

.container-aboutMe h1 {
  font-size: 35px;
}

.container-aboutMe h1 span {
  font-size: 35px;
  color: var(--tittle);
}

.bp {
  display: flex;
  height: 40px;
  flex-direction: column;
  width: 100%;
}

.projects-container h1 {
  text-align: center;
  font-size: 35px;
  color: var(--tittle);
}

.projects-container {
  display: grid;
  gap: 2rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  gap: 2rem;
}

.card video {
  border-radius: 5%;
  display: grid;
  height: 200px;
  object-fit: contain;
  margin-bottom: 2rem;
}

.card:hover footer {
  width: 377px;
  height: 200px;
}

.card footer {
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 0;
  height: 200px;
  background-image: var(--purple);
  position: absolute;
  top: 0;
  transition: all 400ms ease-in-out;
  text-align: center;
  margin-top: 3.8rem;
  flex-direction: row;
  gap: 3rem;
}

.card footer p {
  padding-top: 1rem;
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  color: var(--background-body);
  width: 350px;
  height: 200px;
  position: absolute;
  margin-top: -2.5rem;
  text-align: justify;
  font-size: 18px;
}

.card footer a {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 10.5rem;
  font-size: 35px;
  text-decoration-style: none;
  color: var(--background-body);
}

.card footer a:hover {
  transform: scale(1.2);
  color: var(--white);
}

.form,
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container H1 {
  font-size: 35px;
  color: var(--tittle);
}

.contaApp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.form-container p a i {
  font-size: 60px;
  color: var(--white);
  text-decoration-style: none;
}

.form-container p a i:hover {
  transform: scale(1.3);
}

.Form {
  display: grid;
}

input {
  width: 229px;
  height: 30px;
  background-color: var(--input);
  border-radius: 10px;
  border: none;
  text-align: center;
  margin-top: -0.7rem;
}

textarea {
  border-radius: 5px;
  text-align: center;
  background-color: var(--input);
}

.btn-submit {
  display: flex;
  justify-content: center;
}

.btn-form {
  border: none;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid var(--tittle);
  color: var(--white);
}

.btn-form:hover {
  font-size: 25px;
  background-color: var(--tittle);
  box-shadow: 3px 3px 5px 1px var(--blue-cyan);
}

@media (min-width: 1000px) {
  .nav-links {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-right: -80rem;
    bottom: 20rem;
    font-size: 25px;
    background-color: transparent;
  }
  .nav-links:hover {
    background-image: none;
  }

  .nav-links i {
    color: var(--nav-icon);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav);
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .nav-links i:hover {
    background-image: var(--purple);
  }

  #darkmode i {
    width: 85px;
    height: 85px;
    font-size: 40px;
  }
  .img-presentation {
    background-color: var(--tittle);
    position: absolute;
    transition: all 0.4s ease-in-out;
    width: 55%;
    height: 100%;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
  }
  .img-presentation :hover {
    background-image: var(--purple);
  }

  .presentation img {
    background-color: var(--background-body);
    position: absolute;
    bottom: 9rem;
    left: 12rem;
    max-width: 100%;
    height: auto;
    box-shadow: 10px 5px 10px 2px var(--blue-cyan);
    border-radius: 50%;
    z-index: 1;
  }
    .scroll-img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Media queries for different screen sizes */
@media screen and (min-width: 768px) {
  .img-presentation {
    max-width: 50%;
    margin: auto;
  }
}
  .description {
    margin-top: 7rem;
    width: 600px;
    text-align: center;
    margin-left: 25rem;
  }
  .abilities-container {
    position: absolute;
    margin-top: 45rem;
    margin-left: 35rem;
  }
  .abilities-container h1 {
    font-size: 50px;
  }
  .abilities-container span1 {
    font-size: 50px;
    color: var(--tittle);
  }
  .abilities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
  }
  .abilities div {
    width: 150px;
    height: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 3px var(--tittle);
    border-radius: 50%;
  }

  .description h1,
  h2 {
    font-size: 60px;
  }

  .description h1 span,
  h2 span {
    font-size: 70px;
    color: var(--tittle);
  }

  .description p {
    font-size: 25px;
    width: 500px;
    text-align: justify;
    position: absolute;
    margin-top: 2rem;
    margin-left: 3.5rem;
  }

  .btn-cv {
    width: 200px;
    height: 60px;
    bottom: 2rem;
    font-size: 20px;
    margin-left: 28rem;
  }

  .aboutMe {
    margin-top: 8rem;
    margin-left: -40rem;
  }

  .aboutMe h1 {
    line-height: 3rem;
    font-size: 60px;
  }

  .aboutMe h1 span {
    font-size: 55px;
  }

  .aboutMe p {
    margin-top: 3rem;
    width: 500px;
    font-size: 25px;
    text-align: justify;
  }

  .review {
    display: flex;
    margin-top: -40rem;
    margin-left: 35rem;
  }

  .technology {
    margin-left: -40rem;
  }

  .container-technologies {
    margin-left: -40rem;
    font-size: 55px;
    margin-top: 2rem;
    padding-top: 4rem;
  }

  .container-technologies h1,
  .container-technologies h1 span {
    font-size: 55px;
  }

  .img-technology {
    width: 120px;
  }

  .projects-container {
    margin-top: 6rem;
  }

  .grid {
    display: grid;
    padding-left: 6rem;
    padding-right: 6rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-container h1 {
    font-size: 55px;
  }

  .card h2 {
    font-size: 35px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .card video {
    min-width: 450px;
    height: 300px;
  }

  .card:hover footer {
    width: 530px;
    height: 300px;
  }

  .card footer {
    height: 450px;
    margin-top: 7.5rem;
    background-image: var(--purple);
  }

  .card footer p {
    font-size: 20px;
    width: 350px;
    margin-top: -5.5rem;
  }

  .card footer a {
    margin-top: 11.5rem;
    font-size: 50px;
  }

  .form-container H1 {
    font-size: 55px;
  }

  .contaApp {
    margin-top: 2rem;
    gap: 5rem;
  }

  .form-container p a i {
    font-size: 90px;
  }

  input {
    width: 400px;
    height: 40px;

    margin-top: -0.1rem;
  }

  textarea {
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--input);
  }

  .btn-submit {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .btn-form {
    width: 200px;
    height: 60px;
    font-size: 25px;
  }

  .btn-form:hover {
    font-size: 35px;
  }
}
